{% extends 'base.html' %}

{% block title %}
Информация
{% endblock %}



{% block body %}
<div class="album py-1 bg-white">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://image.flaticon.com/icons/png/512/4522/4522547.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="100%" height="225" loading="lazy"><rect width="100%" height="100%" fill="#55595c"><div class="container"><text><h2>Чат-бот</h2></text></div></rect></img>
            <div class="card-body">
              <p class="card-text">Чат-бот предлагает 18 «сессий», в ходе которых объясняет важность сна, физических упражнений и медитации в борьбе с психическими расстройствами.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://image.flaticon.com/icons/png/512/4521/4521953.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="100%" height="225" loading="lazy"><rect width="100%" height="100%" fill="#55595c"><div class="container"><text><h2>Дневник настроения</h2></text></div></rect></img>
            <div class="card-body">
              <p class="card-text">«Дневник настроения» учит распознавать «ловушки сознания» и дает рекомендации о том, как не вестись на них. С помощью приложения вы научитесь анализировать свое настроение.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://image.flaticon.com/icons/png/512/4522/4522545.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="100%" height="225" loading="lazy"><rect width="100%" height="100%" fill="#55595c"><div class="container"><text><h2>Дыхательные техники</h2></text></div></rect></img>
            <div class="card-body">
              <p class="card-text">Приложение было создано для обучения пользователей диафрагмальному дыханию, которое помогает успокоиться и унять расшалившиеся нервы.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}