{% extends 'base.html' %}

{% block title %}
Дневник настроения
{% endblock %}

{% block body %}
<div class="container">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://image.flaticon.com/icons/png/512/4433/4433187.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="80%" height="80%" loading="lazy">
      </div>

      <div class="col-lg-6 py-5">
          <h1 class="display-5 fw-bold lh-1 mb-3">Расскажите свою историю</h1>
        <p class="lead">На нашем форуме вы можете поделиться своими интересными историями и обсудить их с другими пользовательями.</p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}<br>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.content.label }}<br>
                {{ form.content(class="form-control") }}<br>
                {% for error in form.content.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{message}}
        </form>
      </div>
    </div>
 </div>
{% endblock %}


